

  <div class="file-upload">
		
    <%= form_for( [@project, group.assets.new], :html => {:class => "multi-upload", :multipart => true} ) do |f| %>

        <div class="button">Add Images</div>

        <%= f.hidden_field :title %>
        <%= f.file_field :image, multiple: true, name: "asset[image]" %>
        <%= f.hidden_field :group_id, value: group.id %>
      
    <% end %>

  </div>